html {
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background: white;
}

.header {
  text-align: center;
	width: 100%;
	position: fixed;
	z-index: 1;
}

.nav {
	height: 83px;
}

.header ul {
	margin: auto;
	width: auto;
	background: rgba(0,0,0,0.8);
}

.header li{
	margin-top: 26px;
	display: inline-block;
}

.header li a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Overpass', sans-serif;
	font-weight: lighter;
	font-size: 24px;
	transition: 1s;
	padding: 30px;
}

li a:hover{
	transition: 1s;
	color: black;
	background: rgba(255, 255, 255, 0.7);
}

.container {
	width: auto;
	background: white;
	margin: auto;
	padding: 270px;
	background-image: url(Imagens/Background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	position: relative;
}

.container-2 {
	width: 600px;
	height: 124px;
	padding: 200px;
	position: absolute;
	border: 5px solid white;
	display: table;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.container-3 {
	width: 10%;
	height: 124px;
	padding: 200px;
	position: absolute;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	background: white;

}

.container-3 img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 3px solid black;
	border-radius: 2px;
}

.container-4 {
	width: 10%;
	height: 124px;
	background: white;
	padding: 200px;
	position: absolute;
	top: 0;
	right: 0;
}

.container-4 a {
	position: absolute;
	top: 20px;
	left: 20px;
}

#experiencia {
	width: 98%;
	height: 400px;
	position: relative;
	display: table;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: orange;
}

#experiencia h1 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bloco1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 25%;
	height: 400px;
}

.bloco1 img{
	position: absolute;
	top: 0;
	left: 25%;
	display: table;
}
.bloco1 a {
	text-align: center;
	display: table-cell;
	position: absolute;
	top: 200px;
	left: 0;
}
.bloco2 {
	position: absolute;
	top: 0;
	right: 50%;
	width: 25%;
	height: 400px;
}

.bloco2 img{
	position: absolute;
	top: 0;
	left: 25%;
	display: table;
}

.bloco2 a {
	text-align: center;
	display: table-cell;
	position: absolute;
	top: 200px;
	left: 0;
}
.bloco3 {
	position: absolute;
	top: 0;
	right: 25%;
	width: 25%;
	height: 400px;
}

.bloco3 img{
	position: absolute;
	top: 0;
	left: 25%;
	display: table;
}

.bloco3 a {
	text-align: center;
	display: table-cell;
	position: absolute;
	top: 200px;
	left: 0;
}

.bloco4 {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	height: 400px;
}

.bloco4 img{
	position: absolute;
	top: 0;
	left: 25%;
	display: table;
}

#formacao {
	width: 98%;
	height: 400px;
	position: relative;
	display: table;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: yellow;
}

#formacao h1 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

#habilidades {
	width: 98%;
	height: 600px;
	position: relative;
	display: table;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background: green;
}

#habilidades h1 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

#contacto {
	width: 98%;
	height: 400px;
	position: relative;
	display: table;
	top: 46.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: pink;
	text-align: center;
}

#contacto h1 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}

#rodape {
	width: 100%;
	position: relative;
	display: table;
	top: 32%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: gray;
	text-align: center;
}

.data {
	position: absolute;
	top: 0;
	left: 0;
	width: 49%;
	height: 400px;

}

.descricao {
	position: absolute;
	top: 0;
	right: 0;
	width: 49%;
	height: 400px;
}

.data a {
	position: absolute;
	top: 70px;
	right: 20px;
	text-align: right;
}

.descricao a {
	position: absolute;
	top: 70px;
	left: 20px;
	text-align: left;
}

#habilidades .tabela1 {
	position: absolute;
	top: 60px;
	left: 20%;
}

#habilidades .tabela2 {
	position: absolute;
	top: 60px;
	right: 20%;
}
